.sign-in{
    width:420px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    .title{
        margin:10px 0;
    }
    .form-footer{
        width:auto;
        display: flex;
        justify-content: space-between;
    }
}