.collection-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

    h2{
        font-size: 28px;
    }
    .preview{
        display: flex;
        justify-content:space-between;
    }
}