.collection-item{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    // border-radius: 50%;
    overflow: hidden;
    position: relative;

    .custom-button{
        position: absolute;
        top:255px;
        display: none;
    }

    

    .image{
        width: 100%;
        height:95%;
        background-position: center;
        background-size: cover;
        // border-radius: 5%;
        margin-bottom: 14px;
    }
    &:hover{
        cursor:pointer;
        .image{
            opacity: 0.3;
            transition: opacity 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .custom-button{
            display: flex;
        }
    }

    .collection-item-footer{
        height:5%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
        
        .name{
            width:90%;
        }

        .price{
            width:10%;
            text-align: right;
        }
    }
}