.cart-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 240px;
    height:340px;
    top:80px;
    right:70px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    z-index: 5;

    .cart-items{
        height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 5px;
    }

    .cart-items::-webkit-scrollbar{
        height: 0.4em;
    }

    .cart-items::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    .cart-items::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #AAA;
        height: 5em;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    }
}