.checkout-page{
    width: 55%;
    display: flex;
    min-height: 90vh;
    margin:50px auto 0;
    flex-direction: column;
    align-items: center;

    .checkout-header{
        width:100%;
        border-bottom:1px solid slategrey;
        display: flex;
        height: 35px;
        justify-content: space-between;

        .header-block{
            width: 23%;
        
        &:last-child{
            width:12%;
        }
    }     
    }
    .total{
        margin-left: auto;
        margin-top:40px;
        font-size:25px; ;
    }

    button{
        margin-left: auto;
        margin-top: 40px;
    }

    .stripe-test{
        color: tomato;
        font-size: 15px;
        margin: 20px auto;


        hr{
            background-color:lightgrey;
            border:0.5px solid lightgray;
        }
    }
}
