.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 25px;
    
    .logo-container{
        width:70px;
        height: 100%;
        padding:25px;

    }
    .option-links{
        width:50%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: flex-end;

        .option{
            padding:10px 25px;
        }
    }
}