.collection-page{
    display: flex;
    flex-direction: column;

    .title{
        font-size: 36px;
        margin: 0 auto 30px;
    }
     .items{
         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;
     }

     .collection-item{
         margin-bottom: 20px;
     }
}