.custom-button {
  min-width: 125px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-signin{
    margin-left: 20px;
    background-color: #4285f4;
    transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover{
      background-color: #4177e2;
      color:black;
      border:none;
    }
  }
}
